<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tranquangthien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dialog.ItemBanAn"></activity>
        <activity android:name=".Activity.Activity_HienThiBanAn" />
        <activity android:name=".Activity.TrangChuActivity" />
        <activity android:name=".Activity.activity_ThongTin" />
        <activity android:name=".Model.cardview" />
        <activity android:name=".Dialog.Dialog_ThanhToan" />
        <activity android:name=".Activity.activity_Chi_Tiet_Mon_An" />
        <activity
            android:name=".Activity.activity_Chon_Mon"
            android:label="@string/title_activity__chon__mon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.activity_goi_mon" />
        <activity android:name=".Activity.activity_Thanh_Toan_Tien_Mat" />
        <activity android:name=".Activity.activity_Thanh_Toan_TaiKhoan" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>